{% extends 'CasinoBlackjackBundle::layout.html.twig' %}

{% block body %}
    <h1>Hello {{ player.name }}</h1>
    <p>Your wallet: {{ player.wallet }}</p>
    <p>Your bet: {{ round.bet }}</p>
    <p>Your score: {{ game.score }}</p>
    
    <h2>Player</h2>
    {% for playerCard in playerRevealed %}
        <p>{{ playerCard.name }}</p>
    {% endfor %}
    <h2>Dealer</h2>
    {% for dealerCard in dealerRevealed %}
        <p>{{ dealerCard.name }}</p>
    {% endfor %}

    <div>
        <p>{{ message }}</p>
        <a href="{{ path('blackjack_start_round') }}">Next Round</a>
        <a href="{{ path('get_blackjack_homepage') }}">Finish Game</a>
    </div>
{% endblock %}