{% extends 'CasinoBlackjackBundle::layout.html.twig' %}

{% block body %}
    <h1>Hello {{ player.name }}</h1>
    <p>Your wallet: {{ player.wallet }}</p>
    <p>Your bet: {{ round.bet }}</p>
    <p>Your score: {{ game.score }}</p>
    
    <h2>Player</h2>
    {% for playerCard in playerRevealed %}
        <p>{{ playerCard.name }}</p>
    {% endfor %}
    <form action="{{ path('blackjack_playerDraw') }}" method="post">
        <input type="hidden" name="roundId" value="{{ round.id }}">
        <input type="submit" value="Hit me">
    </form>
    <form action="{{ path('blackjack_dealerDraw') }}" method="post">
        <input type="hidden" name="roundId" value="{{ round.id }}">
        <input type="submit" value="Done">
    </form>
    <h2>Dealer</h2>
    {% for dealerCard in dealerRevealed %}
        <p>{{ dealerCard.name }}</p>
    {% endfor %}
{% endblock %}