{% extends 'CasinoBlackjackBundle::layout.html.twig' %}

{% block body %}
    <header id="banner">
        <h1>{{ player.name }}</h1>
        <p class="wallet"><i class="icon-moneybag"></i> {{ player.wallet }}</p>
        <p class="wallet"><i class="icon-coins"></i> {{ game.score }}</p>
        <p class="wallet">Bet : {{ round.bet }}</p>
        <form class="playing" action="{{ path('blackjack_dealerDraw') }}" method="post">
            <input type="hidden" name="roundId" value="{{ round.id }}">
            <button type="submit">
                <i class="icon-stop"></i> Stand
            </button>
        </form>
        <form class="playing" action="{{ path('blackjack_playerDraw') }}" method="post">
            <input type="hidden" name="roundId" value="{{ round.id }}">
            <button type="submit">
                <i class="icon-chevron-right"></i> Hit me
            </button>
        </form>
    </header>
    
    <section class="players">
        <h2>Player</h2>
        {% for playerCard in playerRevealed %}
            <img class="card" src="{{ asset('bundles/casinoblackjack/images/cards/' ~ playerCard.name ~ '.png') }}" alt="{{ playerCard.name }}">
        {% endfor %}
    </section>
    <section class="players">
        <h2>Dealer</h2>
        <img class="card" src="{{ asset('bundles/casinoblackjack/images/cards/back.png') }}" alt="Hidden card">
        <img class="card" src="{{ asset('bundles/casinoblackjack/images/cards/' ~ dealerRevealed[1].name ~ '.png') }}" alt="{{ dealerRevealed[1].name }}">
    </section>
{% endblock %}